name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: List repository contents
        run: ls -R

      - name: Build and Test Learning
        run: |
          if [ -d "Learning" ]; then
            cd Learning
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Learning does not exist."
            exit 1
          fi

      - name: Build and Test Tour
        run: |
          if [ -d "Tour" ]; then
            cd Tour
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Tour does not exist."
            exit 1
          fi

      - name: Build and Test Main
        run: |
          if [ -d "Main" ]; then
            cd Main
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Main does not exist."
            exit 1
          fi

      - name: Build and Test urfave
        run: |
          if [ -d "urfave" ]; then
            cd urfave
            go build -v ./...
            go test -v ./...
          else
            echo "Directory urfave does not exist."
            exit 1
          fi

      - name: Build and Test gorm
        run: |
          if [ -d "gorm" ]; then
            cd gorm
            go build -v ./...
            go test -v ./...
          else
            echo "Directory gorm does not exist."
            exit 1
          fi

      - name: Build and Test web_Gin
        run: |
          if [ -d "web_Gin" ]; then
            cd web_Gin
            go build -v ./...
            go test -v ./...
          else
            echo "Directory web_Gin does not exist."
            exit 1
          fi

      - name: Build and Test web_Echo
        run: |
          if [ -d "web_Echo" ]; then
            cd web_Echo
            go build -v ./...
            go test -v ./...
          else
            echo "Directory web_Echo does not exist."
            exit 1
          fi

      - name: Build and Test web_gofiber
        run: |
          if [ -d "web_gofiber" ]; then
            cd web_gofiber
            go build -v ./...
            go test -v ./...
          else
            echo "Directory web_gofiber does not exist."
            exit 1
          fi

      - name: Build and Test web_Gorilla
        run: |
          if [ -d "web_Gorilla" ]; then
            cd web_Gorilla
            go build -v ./...
            go test -v ./...
          else
            echo "Directory web_Gorilla does not exist."
            exit 1
          fi

      - name: Build and Test Logging
        run: |
          if [ -d "Logging" ]; then
            cd Logging
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Logging does not exist."
            exit 1
          fi

      - name: Build and Test Zap
        run: |
          if [ -d "Zap" ]; then
            cd Zap
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Zap does not exist."
            exit 1
          fi

      - name: Build and Test Zerolog
        run: |
          if [ -d "Zerolog" ]; then
            cd Zerolog
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Zerolog does not exist."
            exit 1
          fi

      - name: Build and Test Melody
        run: |
          if [ -d "Melody" ]; then
            cd Melody
            go build -v ./...
            go test -v ./...
          else
            echo "Directory Melody does not exist."
            exit 1
          fi

      - name: Build and Test REST
        run: |
          if [ -d "REST" ]; then
            cd REST
            go build -v ./...
            go test -v ./...
          else
            echo "Directory REST does not exist."
            exit 1
          fi

      - name: Build and Test heimdall
        run: |
          if [ -d "heimdall" ]; then
            cd heimdall
            go build -v ./...
            go test -v ./...
          else
            echo "Directory heimdall does not exist."
            exit 1
          fi

      - name: Build and Test watermill
        run: |
          if [ -d "watermill" ]; then
            cd watermill
            go build -v ./...
            go test -v ./...
          else
            echo "Directory watermill does not exist."
            exit 1
          fi

      - name: Build and Test go-Kit
        run: |
          if [ -d "go-Kit" ]; then
            cd watermill
            go build -v ./...
            go test -v ./...
          else
            echo "Directory go-Kit does not exist."
            exit 1
          fi

